* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes specialFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

@keyframes specialFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes specialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes specialFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes specialFadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes specialFadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(10%, 0, 0);
            transform: translate3d(10%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.navigation__mobile-bar {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  font-size: 25px;
  color: #fff;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  z-index: 10;
}

.navigation__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.navigation__menu-list-item.is-closed {
  -webkit-animation-name: specialFadeIn;
          animation-name: specialFadeIn;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navigation__menu-list-item.is-hidden {
  -webkit-animation-name: specialFadeOut;
          animation-name: specialFadeOut;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navigation__menu-list-item:nth-child(1).is-closed {
  -webkit-animation-delay: 30ms;
          animation-delay: 30ms;
}

.navigation__menu-list-item:nth-child(1).is-hidden {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}

.navigation__menu-list-item:nth-child(2).is-closed {
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}

.navigation__menu-list-item:nth-child(2).is-hidden {
  -webkit-animation-delay: 190ms;
          animation-delay: 190ms;
}

.navigation__menu-list-item:nth-child(3).is-closed {
  -webkit-animation-delay: 90ms;
          animation-delay: 90ms;
}

.navigation__menu-list-item:nth-child(3).is-hidden {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}

.navigation__menu-list-item:nth-child(4).is-closed {
  -webkit-animation-delay: 110ms;
          animation-delay: 110ms;
}

.navigation__menu-list-item:nth-child(4).is-hidden {
  -webkit-animation-delay: 130ms;
          animation-delay: 130ms;
}

.navigation__menu-list-item:nth-child(5).is-closed {
  -webkit-animation-delay: 140ms;
          animation-delay: 140ms;
}

.navigation__menu-list-item:nth-child(5).is-hidden {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.navigation__menu-list-item:nth-child(6).is-closed {
  -webkit-animation-delay: 170ms;
          animation-delay: 170ms;
}

.navigation__menu-list-item:nth-child(6).is-hidden {
  -webkit-animation-delay: 70ms;
          animation-delay: 70ms;
}

.navigation__menu-list-item > a {
  display: block;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
}

.navigation__menu-list-item > a:hover {
  color: #969696;
}

.navigation__search-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.navigation__search-container a {
  color: #fff;
}

.navigation__search-container form {
  padding: 0 35px;
}

.navigation__search-container form input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 20px 15px;
  font-size: 16px;
  color: #fff;
}

.navigation__search-container form button {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  background: transparent;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

.navigation__search-container.active {
  display: block;
  -webkit-animation-name: specialFadeOut;
          animation-name: specialFadeOut;
}

.navigation__search-input,
.navigation__search-input form input {
  position: relative;
  -webkit-animation-name: specialFadeInRight;
          animation-name: specialFadeInRight;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.navigation__search-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  font-weight: 100;
  -webkit-animation-name: specialFadeIn;
          animation-name: specialFadeIn;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.navigation__search-menu {
  width: 100%;
  min-width: 200px;
  background: #fff;
  padding: 25px 15px 20px;
  color: #999;
}

.navigation__search-menu h3 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  -webkit-animation-name: specialFadeInRight;
          animation-name: specialFadeInRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navigation__search-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation__search-menu-list-item {
  display: block;
  margin: 0 0 0 15px;
  padding: 5px 0;
  font-weight: 200;
  text-align: left;
  -webkit-animation-name: specialFadeInRight;
          animation-name: specialFadeInRight;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.navigation__search-menu-list-item:nth-child(1) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.navigation__search-menu-list-item:nth-child(2) {
  -webkit-animation-delay: 30ms;
          animation-delay: 30ms;
}

.navigation__search-menu-list-item:nth-child(3) {
  -webkit-animation-delay: 60ms;
          animation-delay: 60ms;
}

.navigation__search-menu-list-item:nth-child(4) {
  -webkit-animation-delay: 90ms;
          animation-delay: 90ms;
}

.navigation__search-menu-list-item:nth-child(5) {
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
}

.navigation__search-menu-list-item a {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #999;
}

.navigation__search-menu-list-item a:hover {
  background-color: #d6d3d3;
  color: #3392de;
}

.navigation__fade-screen {
  background: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.navigation__fade-screen--visible {
  visibility: visible;
}

@media only screen and (max-width: 991px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .navigation__menu {
    display: none;
  }
  .navigation__mobile-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
/*# sourceMappingURL=style.css.map */